<form class="container p-5" (ngSubmit)="onSubmit()">
    <p>Ajout de client</p>
    <div class="mb-3">
      <label for="villecamping" class="form-label">Nom du client</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="name" name="name">
    </div>
    <div class="mb-3">
      <label for="ville" class="form-label">Ville</label>
      <input type="text" class="form-control" id="ville" [(ngModel)]="ville" name="ville">
    </div>
    <div class="mb-3">
      <label for="pays" class="form-label">Pays</label>
      <input type="text" class="form-control" id="pays" [(ngModel)]="pays" name="pays">
    </div>
    <div class="mb-3">
      <label for="villecamping" class="form-label">Ville du camping</label>
      <input type="text" class="form-control" id="villecamping" [(ngModel)]="villecamping" name="villecamping">
    </div>
    <div class="mb-3">
      <label for="annees" class="form-label">Date</label>
      <input type="number" class="form-control" id="annees" [(ngModel)]="annee" name="annee">
    </div>
    <div class="d-flex justify-content-between">
      <div class="mb-3">
        <label for="vehicle-select" class="form-label">Choisissez un mode de transport</label>
        <select class="form-select" id="vehicle-select" [(ngModel)]="selectedVehicule" name="selectedVehicule">
          <option *ngFor="let vehicule of vehicules" [value]="vehicule.id">{{ vehicule.name }}</option>
        </select>
      </div>
        <div class="mb-3">
          <label for="camping-select" class="form-label">Choisissez un camping</label>
          <select class="form-select" id="camping-select" [(ngModel)]="selectedCamping" name="selectedCampingId">
            <option *ngFor="let camping of campings" [value]="camping.camping_name">{{ camping.camping_name }}</option>
          </select>
        </div>
      </div>
    <input [hidden]="true" name="selectedCamping" class="form-control" id="camping" [(ngModel)]="selectedCamping">
    <input [hidden]="true" name="selectedVehicule" class="form-control" id="vehicle" [(ngModel)]="selectedVehicule">
    <div class="d-flex justify-content-between">
      <button class="btn btn-secondary" type="button"> Déconnexion </button>
      <button class="btn btn-primary" type="submit"> Ajouter </button>
    </div>
</form>
