<form class="container p-5" (ngSubmit)="onSubmit()">
    <p>Ajout de client</p>
    <div class="mb-3">

      <label for="ville" class="form-label">Ville</label>
      <input type="text" class="form-control" id="ville">
    </div>
    <div class="mb-3">
      <label for="pays" class="form-label">Pays</label>
      <input type="text" class="form-control" id="pays">
    </div>
    <div class="d-flex justify-content-between">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Camping
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" *ngFor="let camping of campings" (click)="onCampingSelected(camping.id)">{{ camping.camping_name }}</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Véhicule
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" *ngFor="let vehicule of vehicules" (click)="onVehiculeSelected(vehicule.id)">{{ vehicule.name }}</a>
      </div>
    </div>
  </div>

    <input type="hidden" name="selectedCampingId" [(ngModel)]="selectedCampingId">

    <input type="hidden" name="selectedVehicule" [(ngModel)]="selectedVehicule">
    
    <div class="d-flex justify-content-between">

      <button class="btn btn-secondary" type="button"> Déconnexions </button>
      <button class="btn btn-primary" type="submit"> Ajouter </button>
    </div>
    
</form>
