<h1>Statistique</h1>
<div class="container-fluid">
  <div class="row">

    <div class="col-lg-6">
      <ngx-charts-line-chart 
        [view]="view" 
        [results]="line" 
        [xAxis]="true" 
        [yAxis]="true" 
        [legend]="true"
        [legendTitle]="'Emission de CO2'" 
        [showXAxisLabel]="true" 
        [showYAxisLabel]="true" 
        [xAxisLabel]="'Années'"
        [yAxisLabel]="'Emissions'">
      </ngx-charts-line-chart>
    </div>

    <div class="col-lg-6">
      <ngx-charts-pie-chart 
        [view]="view" 
        [results]="pie" 
        [legend]="true" 
        [legendTitle]="'Emission par camping'"
        [labels]="true">
      </ngx-charts-pie-chart>
      <select [(ngModel)]="selectedYear" (change)="updatePieChart()">
        <option *ngFor="let year of years" [value]="year">{{ year }}</option>
      </select>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-6">
      <ngx-charts-line-chart
        [view]="view"
        [results]="transportDistances"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true"
        [legendTitle]="'Véhicule'"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxisLabel]="'Années'"
        [yAxisLabel]="'Kilométrages'">
      </ngx-charts-line-chart>
    </div>
    
    <div class="col-lg-6">
      <ngx-charts-line-chart
        [title]="'Emission par véhicule'"
        [view]="view"
        [results]="transportEmissions"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true"
        [legendTitle]="'Véhicule'"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxisLabel]="'Années'"
        [yAxisLabel]="'Emissions'">
      </ngx-charts-line-chart>
    </div>
  </div>
</div>
